.location{
  position: relative;
  width: 100px;
  height: 100px;
  float : left;
  border : 1px solid black;
}

.territory{
  position: absolute;
  background-color: green;
  height: 100%;
  width: 100%;
}

.persona {
  position: absolute;
  color: #ffffff;
}