.cell{
  position: relative;
  width: 100px;
  height: 100px;
  float : left;
  border : 1px solid black;
}

.territory{
  position: absolute;
  height: 100%;
  width: 100%;
}

.UNKNOWN{
  background-color: lightgrey;
}

.FARMS{
  background-color: green;
}

.persona {
  position: absolute;
  color: #ffffff;
}