<!DOCTYPE html>
<html ng-app="civila">
<head>
    <title>Civila</title>

    <link rel="stylesheet/less" href="css/styles.less"/>
    <link href="includes/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">

    <script src="includes/js/angular.js"></script>
    <script src="includes/js/less.js"></script>

    <script src="js/controllers/civila.js"></script>
    <script src="js/model/grid.js"></script>
    <script src="js/model/location.js"></script>
    <script src="js/model/navigation.js"></script>
    <script src="js/services/gridManager.js"></script>
    <script src="js/services/knowledgeDao.js"></script>
    <script src="js/services/territoryDao.js"></script>
    <script src="js/ui/uiListener.js"></script>
    <script src="js/civilaMain.js"></script>

</head>
<body ng-controller="Civila">

<div class="grid">
    <div ng-repeat="row in grid.rows" class="row">
        <div ng-repeat="cell in row.cells">
            <div class="cell" ng-click="uiListener.selectedLocation = cell">
                <div class="territory" ng-class="cell.territory.type"></div>
                <div ng-if="cell.persona" class="persona">
                    <i class="fa fa-user"></i>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<div class="locationManagement">
    <div ng-if="uiListener.selectedLocation">
        Type of location : {{uiListener.selectedLocation.territory.type}}
        <div ng-if="uiListener.selectedLocation.persona">
            Name : {{uiListener.selectedLocation.persona.name}}
            <button ng-click="uiListener.navigateNorth(uiListener.selectedLocation)">Navigate north</button>
            <button ng-click="uiListener.navigateSouth(uiListener.selectedLocation)">Navigate south</button>
            <button ng-click="uiListener.navigateEast(uiListener.selectedLocation)">Navigate east</button>
            <button ng-click="uiListener.navigateWest(uiListener.selectedLocation)">Navigate west</button>
        </div>
    </div>
</div>

</body>
</html>